[Unit]
Description=Crowcoin's distributed currency daemon
After=network.target

[Service]
User=crowcoin
Group=crowcoin

Type=forking
PIDFile=/var/lib/crowcoind/crowcoind.pid
ExecStart=/usr/bin/crowcoind -daemon -pid=/var/lib/crowcoind/crowcoind.pid \
-conf=/etc/crowcoin/crowcoin.conf -datadir=/var/lib/crowcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
